<%- include('partials/header'); -%>
<h1>Home</h1>
<br>
<p>
What's on your mind today ? 
</p> 

<% posts.forEach(post => { %>
 <h1>
     <%= post.title %>
 </h1>
 <br>
 <p>
     <%= post.content.substr(0,70) %>  
     <span style = 'Font-weight:bold;'>...</span> 
        <a class = 'ml-1' href="/posts/<%= post._id %>" name=>Read More</a>
 </p>
<% }) %>
<%- include('partials/footer'); -%>
